.box{margin-top: 45px;}
.ban-img{position: relative; width:100%; background-image: url('../../../src/Component/images/08/slid.png'); background-size: cover;}
/* .ban-img2{position: absolute;}
.ban-img2 img{width: 98.9%; display: contents;} */
.ban-head{position: absolute; top: 140px; display: flex;flex-direction: column; width: 98%;}
.ban-img img{width:100%; position: relative;}
.ban-head h1{text-align: center; color:#fff; font-size:60px;} 
.ban-head h4{text-align: center; color:#fff; font-size:20px;}
.price{background-color:#1498bf; padding:10px; display:inline-flex; align-items: center;justify-content: center;}
.price img{height:25px;}
.price p{font-family: Quicksand,Poppins; color:white; margin-top: 0; margin-bottom: 0; padding:10px; font-size: 13.8px;}
.price-2{background-color:#ff8a33; padding:10px; display:inline-flex; align-items: center;justify-content: center;}
.price-2 img{height:25px;}
.price-2 p{font-family: Quicksand,Poppins; color:white; margin-top: 0; margin-bottom: 0; padding:10px; font-size: 13.8px;}
.price-3{background-color:#dc1c57; padding:10px; display:inline-flex; align-items: center;justify-content: center;}
.price-3 img{height:25px;}
.price-3 p{font-family: Quicksand,Poppins; color:white; margin-top: 0; margin-bottom: 0; padding:10px; font-size: 13.8px;}
.price-4{background-color:#284796; padding:10px; display:inline-flex; align-items: center;justify-content: center;}
.price-4 img{height:25px;}
.price-4 p{font-family: Quicksand,Poppins; color:white; margin-top: 0; margin-bottom: 0; padding:10px; font-size: 13.8px;}
.desc{margin-top: 20px;}
.desc p{line-height: 30px; color:#253d52; font-family: Poppins; margin-top: 5px; padding: 10px 40px 10px 0;}
.desc h3{color:#253d52; font-family: Poppins;}
.desc ul{margin-top: 15px;}
.desc ul li{font-family: Poppins; padding: 13px;}
.map-sec{width:100%;}
.map-sec img {width:100%;}
.det-desc{width:100%; margin-top: 20px;}
.det-desc p{font-family: Poppins;}
.det-desc h3{font-family: Poppins;}
.det-desc h5{padding-top: 17px; font-family: Poppins;}
.det-desc span{color:#dc1c57;}
.tabs{margin-top:15px;}
#headingOne{background-color: #a837fe;}
#headingTwo{background-color: #1498bf;}
#headingThree{background-color: #ff8a33;}
.tabs .btn-link{color:white; font-family: Poppins;}
.tabs .btn-link:hover{color:white; text-decoration: none;}
.tabs ul li {font-family:Poppins;}
.tabs p{font-family:Poppins; margin-top:30px;}
.desc .btn{padding: 0.375rem 5.75rem !important;}
.desc button{margin-bottom:20px;}
.desc button {font-family: Poppins;}
.desc button img{height:20px; padding-right: 5px;}
.desc .btn-secondary{background-image: linear-gradient(to right top, #f56b3c, #f15942, #ec4749, #e53350, #dc1c57);border:0px !important;}

/* screeen09 */

.ban-deals-img{position: relative; width:100%; background-image: url('../../../src/Component/images/08/slid.png'); background-size: cover;}
/* .ban-img2{position: absolute;}
.ban-img2 img{width: 98.9%; display: contents;} */
.ban-deals-head{position: absolute; top: 140px; display: flex;flex-direction: column; width: 98%;}
.ban-deals-img img{width:100%; position: relative;}
.ban-deals-head h1{text-align: center; color:#fff; font-size:60px;} 
.ban-deals-head h4{text-align: center; color:#fff; font-size:20px;}
.ban-container .container-fluid{background-color: #f3f3f3;}
.sale{width:100%; background-color: teal; border-radius:25px !important; margin-top: 35px;}
.space{padding: 0 75px 75px 75px;}
.sale-inner{display: flex;align-items: center;justify-content: center;}
.sale-inner img{width:40%; position: relative;}
.sale-inner-2{text-align: center;}
.sale-inner-2 img{width:35%;}
.sale-inner-3{text-align: center;}
.sale-inner-3 img{width:70%;}
.inner-text{position: absolute; top:125px;}
.inner-text h3{text-align: center; font-family: Poppins; font-size:18px;}
.inner-text h3 span{color:#dc1c57;}
.inner-text p{text-align: center; font-family: Poppins; font-size:9px;}
.inner-text1{position: absolute; top:78px;left:28px;}
.inner-text1 h3{text-align: center; font-family: Poppins; font-size:22px;}
.inner-text1 h3 span{color:#dc1c57;}
.inner-text1 p{text-align: center; font-family: Poppins; font-size:9px;}
.badge-card{margin: 0;background-color:#dc1c57;max-width: 125px !important;border-radius: 4px;position: relative;left:-1px;}
.badge-card h5{text-align: left; font-family: Poppins; color:#fff;padding-top: 8px;font-size:12px;font-size:19px;}
.badge-text p{text-align: left; font-family: Poppins; font-size:9px;position: absolute;top:42px;left:-109px;}
.tab-name{margin-top:20px;}
.tab-name .nav-pills .nav-link{color:grey;}
.tab-name .nav-pills .nav-link.active, .nav-pills .show>.nav-link{color: #007bff;background-color: #fff;border-radius: 63px !important;box-shadow: #ccc 1px 1px 1px 1px;}
.inner-text2{position: absolute; top:120px;left:28px;}
.inner-text2 h3{text-align: center; font-family: Poppins; font-size:22px;}
.inner-text2 h3 span{color:#dc1c57;}
.inner-text2 p{text-align: center; font-family: Poppins; font-size:9px;}
.inner-text3{position: absolute; top:103px;left:28px;}
.inner-text3 h3{text-align: center; font-family: Poppins; font-size:22px;}
.inner-text3 h3 span{color:#dc1c57;}
.inner-text3 p{text-align: center; font-family: Poppins; font-size:9px;}
.sales-heading h1{text-align:center; font-family: Poppins;}
.sold {background-color: #ff8a33;padding: 5px;position: absolute;top: 170px;color:#fff;border-radius:10px;padding:8px;left:38px;}
.sold h3{font-family: Poppins;font-size: 17px; margin-bottom: 0;}
.badge-card1{margin: 0;background-color:#dc1c57;max-width: 215px !important;border-radius: 4px;position: relative;left:-1px;}
.badge-card1 h5{text-align: left; font-family: Poppins; color:#fff;padding-top: 8px;font-size:12px;font-size:19px;}